ai1wm-backups/
languages/
fonts/
litespeed/
mu-plugins/
plugins/*
!plugins/listinghub/
!plugins/listinghub/**
!plugins/gsheet-listing-importer/
!plugins/gsheet-listing-importer/**
!plugins/claim-your-agency/
!plugins/claim-your-agency/**
plugins/claim-your-agency/firebase-sdk.js
uploads/
updraft/
upgrade/
wflogs/
debug.log
fatal-error-handler.php
index.php
themes/twentytwentythree/
themes/twentytwentyfour/
themes/twentytwentyfive/
themes/suqat/
.htaccess
themes/index.php
