ai1wm-backups/
languages/
fonts/
litespeed/
mu-plugins/
plugins/*
!plugins/listinghub/
!plugins/listinghub/**
uploads/
updraft/
upgrade/
wflogs/
debug.log
fatal-error-handler.php
index.php
themes/twentytwentythree/
themes/twentytwentyfour/
themes/twentytwentyfive/
themes/suqat/
.htaccess
themes/index.php
