/*
Theme Name: Suqat Child
Theme URI: http://themeforest.net/user/wpoceans/portfolio/
Author: wpoceans
Author URI: http://themeforest.net/user/wpoceans
Description: Suqat - Real Estate Single Property WordPress Theme
Template:	suqat
Version: 1.0
Text Domain: suqat-child
*/

